:root {
  --movie-primary: #B0BEA9;
  --movie-primary-darker: #717A6D;
  --movie-secondary: #0B2027;
  --movie-secondary-lighter: #424941;
  --movie-highlight: #E7F59E;
  --movie-accent: #F1F7EE;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--movie-primary);
  color: var(--movie-secondary);
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.netflix {
  cursor: pointer;
  font: 25px Roboto;
}

.netflix-small {
  cursor: pointer;
  font: 19px Roboto;
}
