:root {
  --movie-primary: #b0bea9;
  --movie-primary-darker: #717a6d;
  --movie-secondary: #0b2027;
  --movie-secondary-lighter: #424941;
  --movie-highlight: #e7f59e;
  --movie-accent: #f1f7ee;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--movie-primary);
  color: var(--movie-secondary);
  height: 100%;
}

html, #root {
  height: 100%;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header a {
  color: var(--movie-primary);
  text-decoration: none;
}
