.progress-bar.seen {
  background-color: var(--success);
}
.progress-bar.unseen {
  background-color: var(--danger);
}
.progress-bar.pending {
  background-color: var(--warning);
}

.stat-card {
  margin-top: 20px;
  box-shadow: 5px 5px 15px 4px var(--movie-secondary-lighter);
  background-color: var(--movie-accent);
}

.stat-card .movie-progress .progress-bar {
  color: var(--movie-secondary) !important;
}

.stat-card .movie-progress {
  display: flex;
  overflow: hidden;
}

.stat-card .card-body {
  width: 400px;
}

.stat-tags-card {
  height: max-content;
}

.stat-tags-card-card {
  line-height: 1.5;
}
