.single-movie-card {
  box-shadow: 5px 5px 15px 4px var(--movie-secondary-lighter);
  background-color: var(--movie-accent);
}

.single-movie-subtitle {
  color: var(--movie-primary-darker);
}

.movie-tag {
  cursor: pointer;
}
.movie-tag:not(.selected) {
  opacity: 0.4;
}
