.single-movie-card {
  box-shadow: 5px 5px 15px 4px var(--movie-secondary-lighter);
  background-color: var(--movie-accent);
}

.single-movie-subtitle {
  color: var(--movie-primary-darker);
}

.movie-tag {
  cursor: pointer;
  margin: 2px 4px 2px 0;
}

.movie-tag:not(.selected) {
  opacity: 0.4;
}

.delete-poster {
  color: var(--danger);
  position: absolute;
  font-size: 2em;
  top: 0;
  left: 4px;
  cursor: pointer;
  z-index: 1;
}
