<md-dialog aria-label="Gestion" class="long-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{form.title}}</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <form name="form.movieForm">
      <md-input-container>
        <label>Titre</label>
        <input ng-model="form.movie.title" type="text" required>
      </md-input-container>
      <md-autocomplete md-selected-item="form.movie.genre" md-search-text="form.searchGenre" md-items="genre in form.genres.$object | filter:form.search | orderBy:'toString()'" md-min-length="0" md-floating-label="Genre" md-input-name="autocompleteField" md-item-text="genre" required>
        <md-item-template>
          <span md-highlight-text="form.searchGenre">{{genre}}</span>
        </md-item-template>
      </md-autocomplete>
      <md-input-container>
        <label>Type</label>
        <md-select ng-model="form.movie.type" required>
          <md-option ng-repeat="type in form.types" value="{{type.label}}">{{type.label}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container ng-if="form.movie._id">
        <label>État</label>
        <md-select ng-model="form.movie.state" required>
          <md-option ng-repeat="state in form.states" value="{{state.id}}">{{state.label}}</md-option>
        </md-select>
      </md-input-container>
      <md-autocomplete md-selected-item="form.movie.stateSummary" md-items="stateDescription in form.stateDescriptions" md-min-length="0" md-floating-label="Description état" md-input-name="autocompleteFieldStateSummary" md-item-text="genre" ng-if="form.movie.state === '3'">
        <md-item-template>
          <span>{{stateDescription}}</span>
        </md-item-template>
      </md-autocomplete>
      <md-input-container ng-if="form.movie.type === 'Série'">
        <label>Saison</label>
        <input type="number" ng-model="form.movie.season" type="text" ng-required="form.movie.type">
      </md-input-container>
    </form>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="form.save()" ng-disabled="form.movieForm.$invalid" class="md-raised md-primary" aria-label="Save">
      <span ng-if="form.movie._id">Modifier</span>
      <span ng-if="!form.movie._id">Ajouter</span>
    </md-button>
    <md-button ng-if="form.movie._id" ng-click="form.delete()" class="md-raised md-accent">
      Supprimer
    </md-button>
  </div>
</md-dialog>
